mml/obj/
mmllua/obj/
mmllua/lua54/obj/
sample/obj/
bin
.vs

Makefile
mml/Makefile
mmllua/Makefile
mmllua/lua54/Makefile
sample/Makefile

*.sln
mml/*.vcxproj
mml/*.user
mml/*.filters
mmllua/*.vcxproj
mmllua/*.user
mmllua/*.filters
mmllua/lua54/*.vcxproj
mmllua/lua54/*.user
mmllua/lua54/*.filters
sample/*.vcxproj
sample/*.user
sample/*.filters
